.search-block {
    align-items: flex-end;
}

.main-input {
    font-size: 1.3rem;
}

.main-label {
    font-weight: 500;
    margin-bottom: 0px;
}

a.btn {
    font-size: 0.85rem;
    border-radius: 1px;
    border: 1px solid #833AE0;
    padding: 0.75rem 2rem;
}

a.btn-primary {
    background-color: #833AE0;
    transition: all 0.2s linear;
}

a.btn-primary:hover {
    transition: all 0.2s linear;
    background-color: #c86adfcc;
    opacity: 0.8;
    border: none;
}
.btn a {
    color: #FFFFFF;
    text-decoration: none;
}

.adv-input {
    font-weight: 300;
    font-size: 14px;
    text-decoration: underline;
}

.arrow {
    text-decoration: none;
    margin-left: 7px;
    transition: ease 0.4s;
}

.hide {
    transform: rotate(180deg);
    transition: ease all 0.4s;
}

.adv-input:hover {
    cursor: pointer;
}

.advanced-filter {
    display: flex;
    margin-bottom: 10px;
    box-sizing: border-box;
}

img .card-img-bottom {
    width: 214px;
    height: 214px;
}

.card-link {
    color: #000000;
    text-decoration: none;
}

.card-link:hover {
    cursor: pointer;
}

body .card {
    border: none;
}